
@keyframes page-fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes page-fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes input-select-fadein {
    0%   { opacity: 0; transform-origin: top; transform: scaleY(0.8); }
    100% { opacity: 1; transform-origin: top; transform: scaleY(1); }
}

@keyframes input-select-fadeout {
    0%   { opacity: 1; transform-origin: top; transform: scaleY(1); }
    100% { opacity: 0; transform-origin: top; transform: scaleY(0.8); }
}

@keyframes tooltip-fadein {
    0%   { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0%); }
}

@keyframes tooltip-fadeout {
    0%   { opacity: 1; transform: translateY(0%); }
    100% { opacity: 0; transform: translateY(-10%); }
}