
@keyframes page-fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes page-fadeout {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes input-select-fadein {
    0%   { opacity: 0; transform-origin: top; transform: scaleY(0.8); }
    100% { opacity: 1; transform-origin: top; transform: scaleY(1.0); }
}

@keyframes input-select-fadeout {
    0%   { opacity: 1; transform-origin: top; transform: scaleY(1.0); }
    100% { opacity: 0; transform-origin: top; transform: scaleY(0.8); }
}

@keyframes tooltip-fadein {
    0%   { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0%); }
}

@keyframes tooltip-fadeout {
    0%   { opacity: 1; transform: translateY(0%); }
    100% { opacity: 0; transform: translateY(-10%); }
}

@keyframes bottle-shaking {
    0%   { transform: rotate(0deg); }
    33%  { transform: rotate(10deg); }
    66%  { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes landing-scrollable-tooltip {
    0% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}