
body {
    font-family: "Pretendard";
    color: var(--foreground);
    fill: var(--foreground);

    scrollbar-width: thin;
    scrollbar-color: var(--rearground-border) transparent;
}

html { width: 100%; height: 100%; }
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, a, p, span, ol, ul { margin: 0px; }

span {
    color: var(--foreground3);
}

button {
    font-family: "Pretendard";
    background-color: transparent;
    color: var(--foreground);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

input {
    background-color: transparent;
    color: var(--foreground);
    outline: none;
    border: none;
}

input::-webkit-slider-runnable-track,
input::-webkit-slider-thumb {
    border: none;
    -webkit-appearance: none;
}

touch-ripple { cursor: pointer; }

.transition {
    transition-property: background-color, color, fill !important;
    transition-duration: 2s !important;
}