
/* ../templates/Button.tsx of Primary */
button.primary {
    display: flex;
    background-color: var(--primary);
    color: white;
    fill: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 1e10px;
    column-gap: 5px;

    --ripple: rgb(255, 255, 255, 0.6);
    --ripple-hover: rgb(255, 255, 255, 0.3);
}

/* ../templates/Button.tsx of Secondary */
button.secondary {
    background-color: var(--rearground);
    color: var(--foreground2);
    padding: var(--padding-sm) var(--padding-df);
    border-radius: 1e10px;
}

/* ../templates/Button.tsx of Tertiary */
button.tertiary {
    color: var(--foreground2);
    border-radius: 10px;
    padding: 10px 15px;
    transition: color 0.3s;
    font-weight: normal;
}
button.tertiary:hover {
    color: var(--foreground);
}

/* ../pages/Search.tsx of SearchPage */
.icon-grid_item {
    fill: var(--foreground2);
    transition-property: fill;
    transition-duration: 0.3s;
}
.icon-grid_item:hover {
    fill: var(--foreground);
}
.icon-grid_item .icon {
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 0.3s;
}
.icon-grid_item .icon:hover {
    border-radius: 35%;
}

/* ../templates/Tooltip of Tooltip */
overlay-layout:has(.tooltip) {
    pointer-events: none;
}