
/* ../templates/Button.tsx of Primary */
button.primary {
    background-color: var(--primary);
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 1e10px;

    --ripple: rgb(255, 255, 255, 0.6);
    --ripple-hover: rgb(255, 255, 255, 0.3);
}

/* ../templates/Button.tsx of Secondary */
button.secondary {
    background-color: var(--rearground);
    color: var(--foreground2);
    padding: var(--padding-sm) var(--padding-df);
    border-radius: 1e10px;
}

/* ../pages/Search.tsx of SearchPage */
.icon-grid_item {
    fill: var(--foreground2);
    transition-property: fill;
    transition-duration: 0.3s;
}
.icon-grid_item:hover {
    fill: var(--foreground);
}