
:root {
    --primary: rgb(0, 100, 255);
    --primary-half: rgb(0, 100, 255, 0.3);
    --background: rgb(243, 243, 246);
    --background-shadow: var(--background);
    --background-overlay: rgb(230, 231, 234);
    --rearground: rgb(237, 238, 241);
    --rearground-border: rgb(210, 212, 214);
    --rearground-in-background: rgb(230, 232, 235);
    --container: white;
    --foreground: black;
    --foreground2: rgb(50, 50, 50);
    --foreground3: rgb(100, 100, 100);
    --foreground4: rgb(140, 140, 140);
    --foreground5: rgb(180, 180, 180);
    --shadow: rgb(0, 0, 0, 0.2);
    --popup-background: white;
    --popup-rearground: rgb(230, 232, 236);

    /* About web-touch-ripple */
    --ripple: rgba(0, 0, 0, 0.15);
    --ripple-hover: rgba(0, 0, 0, 0.075);
    --ripple-fadein-duration: 0.15s;
    --ripple-fadeout-duration: 0.3s;
}

:root {
    --padding-sm: 10px; /* small */
    --padding-md: 15px; /* medium */
    --padding-lg: 30px; /* large */
    --padding-df: var(--padding-md); /* default = medium */
    --content-max-width: 1200px;
    
    --rearground-shadow: 0px 2px 3px rgb(0, 0, 0, 0.3);

    /* About react-widgets-router */
    --router-fadein-keyframe: "page-fadein";
    --router-fadeout-keyframe: "page-fadeout";
}

.dark {
    --primary: rgb(0, 140, 255);
    --background: rgb(10, 11, 13);
    --background-shadow: black;
    --background-overlay: rgb(40, 41, 44);
    --rearground: rgb(38, 40, 43);
    --rearground-border: rgb(50, 52, 55);
    --rearground-in-background: rgb(45, 47, 50);
    --container: rgb(22, 24, 26);
    --foreground: white;
    --foreground2: rgb(200, 200, 200);
    --foreground3: rgb(170, 170, 170);
    --foreground4: rgb(120, 120, 120);
    --foreground5: rgb(80, 80, 80);
    --shadow: rgb(120, 120, 120, 0.2);
    --popup-background: rgb(32, 33, 35);
    --popup-rearground: rgb(50, 52, 56);

    /* About web-touch-ripple */
    --ripple: rgb(255, 255, 255, 0.15);
    --ripple-hover: rgb(255, 255, 255, 0.05);
}