
:root {
    --primary: rgb(43, 224, 134);
    --primary-hover: rgb(91, 255, 173);
    --background: rgb(240, 241, 244);
    --rearground: rgb(255, 255, 255);
    --rearground-border: rgb(220, 221, 223);
    --foreground: black;
    --foreground2: rgb(50, 50, 50);
    --foreground3: rgb(100, 100, 100);
    --foreground4: rgb(150, 150, 150);
    
    /* About web-touch-ripple */
    --ripple: rgba(0, 100, 30, 0.15);
    --ripple-hover: rgba(0, 100, 30, 0.1);
}

:root {
    --padding-sm: 10px; /* small */
    --padding-md: 15px; /* medium */
    --padding-lg: 30px; /* large */
    --padding-df: var(--padding-md); /* default = medium */
}

.dark {
    --background: black;
    --rearground: rgb(30, 31, 33);
    --rearground-border: rgb(50, 51, 53);
    --foreground: white;
    --foreground2: rgb(200, 200, 200);
    --foreground3: rgb(150, 150, 150);
    --foreground4: rgb(100, 100, 100);

    /* About web-touch-ripple */
    --ripple: rgb(255, 255, 255, 0.15);
    --ripple-hover: rgb(255, 255, 255, 0.03);
}